:root {
    --line-width: 2px;
}

nav {
    padding: 0 10px;
    justify-content: space-between;
}

button {
    font-size: 24px;
}

#title {
    top: 15%;
    transform: translate(-50%, -10%);
}

#title > h1 {
    font-size: 1.8em;
}

main {
    top: 51%;
}

#board {
    width: 340px;
    height: 340px;
    border-radius: 17px;
}

.horizontal_line {
    height: var(--line-width);
}

.vertical_line {
    width: var(--line-width);
}

.line {
    height: 8px;
}

.O {
    border: 8px solid var(--hights);
}


#aimode {
    display: none;
    visibility: hidden;
}

#player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

#player > h3 {
    font-weight: 300;
}