:root {
    --line-width: 5px;
}

nav {
    padding: 0 12px;
    justify-content: space-between;
}

button {
    font-size: 28px;
}

#title {
    top: 15%;
    transform: translate(-50%, -10%);
}

#title > h1 {
    font-size: 3.2em;
}

#board {
    width: 450px;
    height: 450px;
    border-radius: 17px;
}

.horizontal_line {
    height: var(--line-width);
}

.vertical_line {
    width: var(--line-width);
}

.line {
    height: 8px;
}

.O {
    border: 8px solid var(--hights);
}
